@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
.text-color {
    color: orange;
}
.background-main{
    background-color: #E9E9E9 !important;
}
.v-data-table-header,
.oren{
    background-color: orange !important;
    font-weight: 200 !important;
}
th .text-start{
    width: 48px !important;
}
.v-navigation-drawer, .v-toolbar{
    top: 50px !important;
    position: fixed !important;
}
.v-system-bar{
    position: fixed !important;
}
.btn-add{
    margin-top: 400px !important;
    margin-left: 600px !important;
    position: static;
}
.btn-bar{
    width: 80px;
    font-size: 0.7rem !important;
    background-color: grey !important;
}
.btn-bar:active{
    background-color: orange !important;
}
.w-list-icon{
    width: 50px;
}
.item-pos{
    position: absolute !important;
}
.icon-set{
    background-color: #E8E8E8;
    border-radius: 5px;
}
.toolbar-display{
    display: contents !important;
}
.con-height{
    height: fit-content !important;
}
.lp{
    top: 25% !important;
    left: 25% !important;
    position: relative !important;
}
.img-lp{
    margin-top: 50px;
    width: 200% !important;
}.col-lp{
    max-width: 30% !important;
}
.row-width{
    width: 100vw !important;
}
.icon-size{
    font-size: 20px !important;
}
.title-size{
    font-size: 35px !important;
}
.clickable{
    -webkit-app-region: no-drag !important;
}
canvas{
    padding: 0 0 !important;
}
.sub-item{
    float: right;
    margin-right: 20px;
}
#doughnut-chart{
    height: 235px !important;
}
.v-main__wrap{
    margin:auto;
}
.line-style{
    height: 45vh !important;
    margin-top: 10px;
    border-radius: 5px;

}
.btn-min, .btn-close{
    height: 100%;
    width: 3%;
}
.btn-min:hover{
    background-color: grey;
}
.btn-close:hover{
    background-color: red;
}
.rounded-circle{
    width: 36px !important;
    min-width: auto !important;
    padding: 0;
    position: absolute;
    margin: 10px 20px;
    top: 0;
    right: 0;
}
.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active di bawah versi 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
@media screen and (max-width: 700px){
    .box-style-pad{
        padding: 0 12px !important;
    }
    .box-data{
        max-width: 100% !important;
        display: flexbox;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}